 .topcontainer{
      background-image: url(../images/PicsArt_08-07-12.59.09.jpg);
      height: 100vh;
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px black (0,0,0,0.5);  
      
 }
   
  